body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(153, 124, 136);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: rgb(202, 132, 155);
    box-shadow:  0 0 10px rgba(235, 229, 233, 0.3);
}

h1 {
    text-align: center;
    text-decoration-color: rgb(229, 235, 235);
}

button{
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: rgba(36, 4, 21, 0.511);
}

button:hover{
    background-color: rgba(196, 130, 181, 0.552);
}

#post-container {
    margin-top: 30px;
}

.post{
    border-bottom: 1px solid black;
}
